{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "extends": ["plugin:react/recommended", "airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {
        "import/prefer-default-export": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-props-no-spreading": 0,
        "no-underscore-dangle": 0
    }
}
